body {
  margin: 0;
  padding: 0;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  background: rgb(224, 224, 224);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:not([type="button"]) {
  color: #222;
  border-bottom: 1px solid #222;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #444;
    border-color: transparent;
    text-decoration: none;
    transition: all 0.2s ease;
  }
}

#appbar a {
  color: white;
  text-decoration: none;
  border: 0
}

.story {
  background: "#f5f5f5";
  size: 14px;
}

.story-footer {
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

ul {
  padding: 0;
  color: black;
}

ul li {
  display: inline;
}

ul li:after {
  content: " \B7 ";
}

ul li:last-child:after {
  content: "";
}

/* comments */

.comments ul li {
  display: inline;
}

.all-comments {
  padding-left: 15px
}

.comment-title {
  font-size: 18px;
  font-weight: bold;
}

.comment-domain {
  font-size: 18px;
  color: #666;
}

.user {
  font-weight: bold;
  content: none
}

.nested-1 {
  margin-left: 30px
}

.nested-2 {
  margin-left: 60px
}

.nested-3 {
  margin-left: 90px;
}
